
/* - Inciso 1 - */
/* texto enfatizado dentro de cualquier título (<h1>, <h2>, <h3>, <h4>, <h5>, <h6>) */
h1, h2, h3, h4, h5, h6 {
    em {
        color: #e62b3b;
    }
}

/* - Inciso 2 - */
/* elemento con atributo href, dentro de un <p>, dentro de un <div> */
div p [href] {
    color:#ff9dad;
}

/* - Inciso 3 - */
/* texto y enlaces dentro de las listas no ordenadas */
div#ultimo ul {
    color: #ffe32a; /* color de texto */
    a {
        color: #355aff; /* color de enlaces */
    }
}
/* enlaces dentro de las listas no ordenadas */

/* - Inciso 4 - */
/* elementos identificados como importantes*/
.importante {
    div & { /* dentro de cualquier bloque */
        color: #06d154; 
    }
    h1 &, h2 &, h3 &, h4 &, h5 &, h6 & { /* dentro de un h1 */
        color: #e62b3b; 
    }
}

/* - Inciso 5 - */
/* elementos <h1> con atributo title */
h1[title] {
    color: #355aff;
}

/* - Inciso 6 - */
/* enlaces en listas ordenadas */
ol a{ 
    text-decoration: none;
    &:link { /* enlace aun no visitado */
        color: #355aff;
    }
    &:visited { /* enlace ya visitado */
        color: #9b34ca;
    }
}