:root {
    background-color: var(--black);
    color: var(--white);
}

.form-fieldset {
    border: 1px solid var(--white);
}

.form-select {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}

.form-button {
    border: 1px solid var(--white);
    background-color: var(--black);
    color: var(--white);
}

.form-button:hover {
    background-color: var(--white);
    color: var(--black);
}

.form-button:active {
    background-color: var(--gray);
    border-color: var(--gray);
    color: var(--white);
}